.add-button {
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 10;
  cursor: pointer;
  transition: transform 0.1s;
}

.add-button:hover {
  transform: scale(1.05, 1.05);
}

.add-button:active {
  filter: brightness(90%);
}
