.add-note-screen {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 20;
  padding: 50px;
}

.add-note-container {
  background-color: white;
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.title-bar {
  display: flex;
  height: 35px;
  width: 100%;
  align-items: center;
}

.tick {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.tick:hover {
  filter: brightness(95%);
}

.tick:active {
  filter: brightness(90%);
}

.name-input {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #008ddc34;
  margin-right: 5px;
  border-radius: 5px;
  padding: 10px;
}

.body-input {
  width: 100%;
  background-color: #008ddc34;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 5px;
  flex: 1;
  display: flex;
}

.input {
  font-size: 1.2em;
  color: #008ddc;
  width: 100%;
  background-color: transparent;
  border: none;
  font-family: poppins;
}

.input::placeholder {
  color: #008ddc;
}

.input:focus {
  outline: none;
}

.body-input textarea {
  flex: 1;
  resize: none;
}
