.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head svg:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.note-name {
  color: #323232;
}

.note-body {
  color: #505050;
}
