.search {
  background-color: #008ddc34;
  width: 100%;
  height: 35px;
  border-radius: 30px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.search input {
  width: 100%;
  font-size: 1.2em;
  color: #008ddc;
  background-color: transparent;
  border: none;
}

.search input::placeholder {
  color: #008ddc;
}

.search input:focus {
  outline: none;
}
